<header id="job_header" class="container">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{{ base_url('assets/frontend/images/logo.png') }}"/></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="btn_border green">Login สำหรับบริษัท</a></li>
          <li><a href="#" class="btn_border blue">Login สำหรับผู้สมัครงาน</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="wrapper">
  <div class="herobanner">
    <figure class="image"><img src="{{ base_url('assets/frontend/images/banner_home.jpg') }}" alt=""></figure>
    <div class="caption">
      <div class="desc">
        <div>เริ่มงานใหม่ ได้ตรงใจที่สุด</div>
      </div>
      <ul class="button">
        <li><a href="" class="btn btnTheme green">หาคน</a></li>
        <li><img class="icon_button" alt="" src="{{ base_url('assets/frontend/images/icon_button.png') }}" /></li>
        <li><a href="" class="btn btnTheme blue">หางาน</a></li>
      </ul>
    </div>
  </div>
  <div id="slide_home">
    <h3>HOT JOBS</h3>
    <div class="slide_body">
      <ul>
        <li>
          <figure class="image"><img width="261" height="166" src="{{ base_url('assets/frontend/images/logo_1.jpg') }}" alt=""></figure>
          <figcaption>
            <label>บ.มีเดีย ริช</label>
            <span>5 ตำแหน่ง</span>
          </figcaption>
        </li>
        <li>
          <figure class="image"><img width="261" height="166" src="{{ base_url('assets/frontend/images/logo_2.jpg') }}" alt=""></figure>
          <figcaption>
            <label>บ.มีเดีย ริช</label>
            <span>5 ตำแหน่ง</span>
          </figcaption>
        </li>
        <li>
          <figure class="image"><img width="261" height="166" src="{{ base_url('assets/frontend/images/logo_3.jpg') }}" alt=""></figure>
          <figcaption>
            <label>บ.มีเดีย ริช</label>
            <span>5 ตำแหน่ง</span>
          </figcaption>
        </li>
        <li>
          <figure class="image"><img width="261" height="166" src="{{ base_url('assets/frontend/images/logo_4.jpg') }}" alt=""></figure>
          <figcaption>
            <label>บ.มีเดีย ริช</label>
            <span>5 ตำแหน่ง</span>
          </figcaption>
        </li>
      </ul>
    </div>
    <div class="arrow">
      <div class="previous"></div>
      <div class="next"></div>
    </div>
    <ul class="line">
      <li><i></i></li>
      <li><i></i></li>
      <li><i></i></li>
      <li><i></i></li>
    </ul>
  </ul>
</div>
